@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}
/* Navbar Bootstrap */

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;


  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;

  }
  
}
/* Navbar Bootstrap */



.contenedor__todo {
  
 
  display: flex;
  background-color:rgb(234, 240, 241);;
  height: 45dvh;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(../img/liIHDiAvRWGKfoy1zdwU-Q.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30%;


}






.caja__mensaje {
  text-align: left;

    

}

.caja__mensaje h1{
  font-size: 3.5rem;
  color: #030404;
  font-family: cursive

 }

 .mensaje p{
  color: #0c0b0b;
  font-size: 1.3rem;
 }

.caja__inventario {
  width: 38dvw;
  display: flex;
  justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    color: #060505;
}





.boton:hover{
  background: #030330;
    color: #f3dfdf;
}

.boton{
  padding: 5px 20px;
  border: 2px solid #060505;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: all 300ms;
  border-radius: 20px;
}


.contenedor__busquedas{
  text-align: center;
  background-color: rgb(234, 240, 241);
  height: 45dvh;
  position: relative;


  #listaBusquedas{
    display: flex;
    justify-content: space-evenly;

    .caja__cuarta-bolita{
      background-color: #c6ce2d;
      top: -2dvw;
     
      
    }
    .caja__tercer-bolita{
      background-color: #390950;
      top: -2dvw;
      
    }
    .caja__segunda-bolita{
      background-color: #ce1961;
      top: -2dvw;
    
    
    }
    .caja__primer-bolita{
      background-color: #ecc2ef;
      top: -2dvw;   
      
    }
  }

  .cajas{
    width: 20dvw;
    height: 25dvh;
    border-radius: 10%;
    padding: 3%;
    color: #0c0b0b;
    font-weight: bold;
   position: relative;
   box-shadow: 0px 0px 20px;
}
}









