@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}
/* Navbar Bootstrap */

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;


  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;

  }
  
}
/* Navbar Bootstrap */




body {
  font-family: 'Arial', sans-serif;
  background-image:url(../img/login.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Estilo del contenedor principal */
.dashboard {
  display: flex;
  max-width: 1700px;
  margin: 49px auto;
  gap: 23px;
  padding: 30px 10px;
  flex-wrap: nowrap;
  align-items: flex-end;
}

/* Estilos de la barra lateral */
.sidebar {
  width: 300px;
  background: linear-gradient(135deg, #6a82fb, #fc5c7d);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.sidebar h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(202, 192, 192, 0.1);
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  color: #fff;
}




.actions {
  display: flex;
  justify-content: center;
}





/* Estilos del contenido principal */
.main-content {
  flex-grow: 1;
  background-image: url(../img/descargab.jpg);
  background-size: cover;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

}

.main-content h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
}

/* Estilos para los gráficos circulares */
.circle-chart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: linear-gradient(135deg, #6a82fb, #fc5c7d);
  flex-direction: column;
}

.circle:nth-child(1) {
  background: linear-gradient(135deg, #f491a8, #fc5c7d);
}

.circle:nth-child(2) {
  background: linear-gradient(135deg, #adb8ee, #6a82fb);
}

.circle:nth-child(3) {
  background: linear-gradient(135deg, #f4cea9, #f491a8);
}

