@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.contenedor_clientes {
    padding: 10px;
}

/* Navbar Bootstrap */

/* Variables de color y estilos generales */
.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
  }
  
  .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
  }
  
  @media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
  
  
    }
  
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
  
    }
    
  }
  /* Navbar Bootstrap */


  

  .cabecera{
    display: flex;
    justify-content: space-between;

}



label, select {
    display: block;
    margin-bottom: 8px;
}

select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#contenedorModal button {
    background-color: #d55c98;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    float: left;
    margin: 10px 20px 0px 0px;
}

#contenedorModal button:hover {
    background-color: #b7a2b4;
}


#btnDesplegarFormulario {
  background: linear-gradient(135deg, #f491a8, #fc5c7d);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
}

#contenedorModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#formularioProductos {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/*
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;

}




/* Contenedor de productos */
.contenedor_productos {
    background-color: #f0f4f7; /* Color de fondo más suave */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Contenedor de la tabla con desplazamiento */
.tabla_seccion {
    height: 650px;
    overflow: auto;
    border-radius: 50px; /* Bordes redondeados */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Sombra para la tabla */
}

/* Estilo general de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px;
    overflow: hidden;
}

/* Cabecera de la tabla */
thead tr {
    position: sticky;
    top: 0;
    background-color: #5e626c; /* Color azul para la cabecera */
    color: #ffffff; /* Texto blanco para mejor contraste */
    font-size: 18px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra para la cabecera */
}

/* Celdas de la cabecera */
thead th {
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Filas de la tabla */
tbody tr {
    text-align: center;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s ease; /* Suavidad para el hover */
}

/* Alternancia de color en las filas */
tbody tr:nth-child(even) {
    background-color: #f8f9fc;
}

/* Hover para filas */
tbody tr:hover {
    background-color: #e3e8f0; /* Color claro para el hover */
}

/* Celdas de la tabla */
tbody td {
    padding: 15px;
    border-bottom: 1px solid #e0e6ed; /* Bordes de fila */
    word-wrap: break-word; /* Para que el texto se ajuste */
}

/* Botones de acción */
button {
    padding: 8px 12px;
    font-size: 14px;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

button i {
    margin-right: 5px;
}

/* Estilos específicos para botones de edición y eliminación */
td button:nth-child(1){
    background-color: #10b441;

}
td button:nth-child(2){
    background-color: rgb(194, 36, 36);

}


.paginacion{
    display: flex;
    justify-content: flex end;
    width: 100px;
    padding: 10px 20px;
    
}

